.turbo/

node_modules/

npm-debug.log
.npm/
npm-cache/
yarn-error.log
pnpm-debug.log*
pnpm-lock.yaml

.DS_Store
.vscode/
*.swp
*.bak
.idea/

apps/*/dist/
apps/*/build/
apps/*/out/
apps/*/.next/

apps/*/.vite/

apps/*/.env
apps/*/.env.*
.env

apps/*/.tsbuildinfo

apps/*/coverage/

apps/*/bin/
apps/*/obj/
**/.vs/
**/*.user
**/*.suo
**/*.nupkg
**/publish/  # Final published output folder (unless deployed via CI/CD)

apps/*/appsettings.Development.json
apps/*/appsettings.Local.json
.vscode/launchsettings.json

.microsoft/usersecrets